body {
  font-family: Roboto, sans-serif;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.is-current .SideMenu__Link {
  color: #222;
}

.SideMenu__ListItem {
  list-style: none;
}
.SideMenu__Link {
  text-decoration: none;
  color: rgba(20, 20, 20, 0.5);
  font-size: 16px;
}
.SideMenu__Link:hover {
  color: rgba(20, 20, 20, 0.8);
}

.SideMenu__ListItem--sub {
  margin-left: 8px;
}

.SideMenu__ListItem--sub .SideMenu__Link {
  font-size: 14px;
}

.LiveEdit {
  position: relative;
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 30px;
  top: 1px;
  margin-right: 4px;
  background-color: #ad0000;
  animation: pulsate 4s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
  50% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
}

@media (max-width: 1301px) {
  .SideMenu {
    display: none;
  }
}

@font-face {
  src: url(../../../../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf);
  font-family: MaterialIcons;
}
